/* ==========================================================================
   Imports
   ========================================================================== */

@import "helpers/elements-0.9.less"; // elements
@import "helpers/variables.less"; // variables




/* ==========================================================================
   Helper Styles
   ========================================================================== */
   

/* ==========================================================================
   Global Styles
   ========================================================================== */
.container-fluid {padding:0px;}

body {
    margin-top: 100px;
  
    header {
        background: none white;
        .container-fluid {
            
            
            .row-fluid {
                .brand {
                    background: none #1F8A70; min-width: 373px; text-align:center;
                }
                
                .nav-bar {
                    #menu {
                        #menu-nav {
                            li a {
                                color: #1F8A70;
                            }
                        }
                    }
                }
            }
        }
    }
}

  #slider { height:300px; overflow:hidden;}


#mobile-nav { background: none #1F8A70;}
nav#menu #menu-nav ul { background: none white;
li a { color: #1F8A70;}}

#intro-box { background: none #1F8A70;
}


.box { background: none #F2F2F2; padding: 0px; height: 420px; }

.icon { width: 100%;
padding:50px 0 50px 0;
}

.healthplanr { background: none #206fb1;
}

.curedocs { background: none #2cb6a0;
}

.cureops { background: none #AB1E48;}
.securehealth { background: none #4744d5;}
.nursetalk { background: none #ddb100;}

#quote {background: none #1F8A70; margin:auto; width:100%; padding-top:30px; padding-bottom:30px;

.quote { 
h3 {padding: 10px 10px 10px 10px; border-style:solid; border-width:1px; border-color: white; color: white; text-align: center; margin-top:20px;}

}
}

#tweet { margin:auto; padding:80px 0px 80px; width:100%; background-image:url("http://files-40f3c3d.professionalperformance.ca/img/slider/6N8A1013.jpg");
.twitter {width:100%;}
.twitter-timeline { width:45%; margin:auto;

}

}


footer {padding: 50px 50px 30px 50px; text-align: center; font-size:100%;
background: none #1F8A70;
.span4{color:white; height:220px; h4 {color:white;}
h6 {color:white;}}
.footer{color:white; padding-right:50px; border-right: thin solid white ;  height:220px;

}
}

/* ==========================================================================
   Global Mobile Styles
   ========================================================================== */
   
/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}